<ion-view view-title="About Us">
  <ion-content class = "padding">
    <h1>About the Developers</h1>
    <p>This app is based on the TAS model (http://www2.thetasgroup.com/sve/)</p>
    <div class="list card">
      <div class="item item-icon-left">
        <img class="img-circle" src="img/akira.jpg" style="border-radius:50%;width:40%;height:100px;">
        Akira Sooful
      </div>
    </div>
    <div class="list card">
      <div class="item item-icon-left">
        <img class="img-circle" src="img/stevie.jpg" style="border-radius:50%;width:40%;height:100px;">
        Steven Kimmel
      </div>
    </div>
    <div class="list card">
      <div class="item item-icon-left">
        <img class="img-circle" src="img/yauvan.jpg" style="border-radius:50%;width:40%;height:100px;">
        Yauvan Hansraj
      </div>
    </div>
  </ion-content>
</ion-view>
