<ion-view view-title="Control Sales Velocity">
  <ion-content class = "padding">
    <label class="item item-input item-stacked-label">
    <span class="input-label">Target Sales Value</span>
    <input type="number" placeholder="Please enter target sales value" ng-model="rangeModel.targetSales">
    </label>

    <button class="button button-block" ng-click="targetValChange()" ng-hide="rangeModel.hideValue">
       Calculate Sales Velocity
    </button>
    <div class="spinner" ng-show="rangeModel.hideValue">
        <ion-spinner icon="lines"></ion-spinner>
      </div>

    <div class="card">
       <div class="item item-text-wrap">
          <p>Current value for sales per year: {{rangeModel.currentSales}} </p>
          <p>Target value for sales per year: {{rangeModel.targetSales}} </p>
        <!--  <p>{{rangeModel.percUplift}}% uplift </p> -->

       </div>
    </div>

    <div class = "list">
      <ion-item>
        <ion-label>Percentage increase on Deals: {{rangeModel.percDeals}}%</ion-label>
        <div class = "item range">
          <i>0</i>
           <input type = "range" name = "range1" ng-model = "rangeModel.percDeals" min = "0" max = "100" on-release="rangeModelChange()">
          <i>100</i>
        </div>
     </ion-item>

     <ion-item>
       <ion-label>Percentage increase on Deals Size: {{rangeModel.percDealsSize}}%</ion-label>
       <div class = "item range">
         <i>0</i>
          <input type = "range" name = "range1" ng-model = "rangeModel.percDealsSize" min = "0" max = "100" on-release="rangeModelChange()">
         <i>100</i>
       </div>
    </ion-item>

    <ion-item>
      <ion-label>Percentage increase on Average Win Rate: {{rangeModel.percAverageWinRate}}%</ion-label>
      <div class = "item range">
        <i>0</i>
         <input type = "range" name = "range1" ng-model = "rangeModel.percAverageWinRate" min = "0" max = "100" on-release"rangeModelChange()">
        <i>100</i>
      </div>
   </ion-item>

   <ion-item>
     <ion-label>Percentage increase on Average Sales Cycle: {{rangeModel.percAverageSalesCycle}}%</ion-label>
     <div class = "item range">
       <i>0</i>
        <input type = "range" name = "range1" ng-model = "rangeModel.percAverageSalesCycle" min = "0" max = "100" on-release"rangeModelChange()">
       <i>100</i>
     </div>
  </ion-item>
     </div>

  </ion-content>
</ion-view>
