<ion-view view-title="About"style="background-color:#586261;">
  <ion-content class = "padding">
  </br>
      <div style="background-color: #586261; border-color:#586261;">
        <img class="img centerme" src="img/Deloitte-Digital.png" style = "width:190px;height:75px;">
      </div>
    </br>
    <p style="color: #f8f8f8;">This app is based on the Sales Velocity Model from the Altify Group.</p>
    <p style="color: #f8f8f8;">It is enhanced from an adaptation of the Forrester Benchmark metrics to indicate the improvement ranges on your variables by using Salesforce Automation.</p>
<div class="rcorners4">
    <p style="color: #f8f8f8; font-size:16px"><b>Range Improvements by using Salesforce Automation:</b></p>
    <p style="color: #f8f8f8; font-size:16px">
      <ul style="color: #f8f8f8;">
        <li><i class = "icon icon ion-ios-pulse-strong"> &nbsp&nbsp&nbsp # Deals: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 0% - 5%</i></li>
        <li><i class = "icon icon ion-ios-pulse-strong"> &nbsp&nbsp&nbsp Deal Size: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 10% - 20%</i></li>
        <li><i class = "icon icon ion-ios-pulse-strong"> &nbsp&nbsp&nbsp % Win Rate: &nbsp&nbsp 8% - 10%</i></li>
        <li><i class = "icon icon ion-ios-pulse-strong"> &nbsp&nbsp&nbsp Sales Cycle: &nbsp&nbsp&nbsp 12% - 20%</i></li>
      </ul>
    </p>
  </div>
  </br>
    <h4 style="color: #f8f8f8;">Developed By:</h4>
    <div class="list">
      <div class="item item-icon-left user_profile" style="background-color: #586261; border-color:#586261;">
        <img class="img-circle" src="img/akira.jpg">
        <span style="color: #f8f8f8;">Akira Sooful</span>
      </div>
    </div>
    <div class="list">
      <div class="item item-icon-left user_profile"  style="background-color: #586261; border-color:#586261;">
        <img class="img-circle" src="img/stevie.jpg" >
        <span style="color: #f8f8f8;">Steven Kimmel</span>
      </div>
    </div>
    <div class="list">
      <div class="item item-icon-left user_profile" style="background-color: #586261; border-color:#586261;">
        <img class="img-circle" src="img/yauvan.jpg" >
        <span style="color: #f8f8f8;">Yauvan Hansraj</span>
      </div>
    </div>

    <p style="color: #f8f8f8;">(DTTL), its network of member firms and their related entities. DTTL and each of its member firms are legally separate and independent entities. DTTL (also referred to as “Deloitte Global”) does not provide services to clients. Please see www.deloitte.com/about for a more detailed description of DTTL and its member firms.</p>
    <p style="color: #f8f8f8;">Deloitte provides audit, consulting, financial advisory, risk management, tax and related services to public and private clients spanning multiple industries. With a globally connected network of member firms in more than 150 countries and territories, Deloitte brings world-class capabilities and high-quality service to clients, delivering the insights they need to address their most complex business challenges. The more than 210 000 professionals of Deloitte are committed to becoming the standard of excellence.</p>
    <p style="color: #f8f8f8;">This communication contains general information only, and none of Deloitte Touche Tohmatsu Limited, its member firms or their related entities (collectively, the “Deloitte Network”) is, by means of this communication, rendering professional advice or services. No entity in the Deloitte network shall be responsible for any loss whatsoever sustained by any person who relies on this communication.</p>
    <p style="color: #f8f8f8;">© 2016 Deloitte & Touche. All rights reserved. Member of Deloitte Touche Tohmatsu Limited</p>
  </ion-content>
</ion-view>
