<ion-view view-title="Control Sales Velocity" style="background-color:#586261;">
  <ion-content class = "padding">
    <label class="item item-input item-stacked-label col col-center" style="border-color: Transparent;">
    <span class="input-label" style="color: #f8f8f8;">Target Sales Value</span>
    <input type="number" placeholder="  Target sales value" ng-model="rangeModel.targetSales" style="background-color: #f8f8f8;">
    </label>
    <br/>
    <div class="load-button">
     <button class="button button-block"  style="background-color:#86BC40; color:#F8F8F8;" ng-click="targetValChange()" ng-hide="rangeModel.hideValue">
        Calculate Sales Velocity
     </button>
     <ion-spinner icon="lines" ng-show="rangeModel.hideValue"></ion-spinner>

   </div>
   <div class="item"style="background-color:#586261; border-color: Transparent" ng-show="calcSales.haveCalc">
      <ion-label style="color: #f8f8f8; text-align:left">Calculated Sales Per Year: {{calcSales.value}}</ion-label>
   </div>

     <div class="item"style="background-color:#586261; border-color: Transparent">
        <ion-label style="color: #f8f8f8;">Current value for sales per year: {{rangeModel.currentSales}}</ion-label>
        <ion-label style="color: #f8f8f8;">Target value for sales per year: {{rangeModel.targetSales}}</ion-label>
        <ion-label style="color: #f8f8f8;">{{rangeModel.percUplift}}% uplift</ion-label>
     </div>

    <div class = "list" >
      <ion-item style="background-color:#586261; border-color: Transparent" >
        <ion-label style="color: #f8f8f8;">Increase on Deals: {{rangeModel.percDeals}}%</ion-label>
        <div class = "item range"  style="background-color:#586261; border-color: #f8f8f8">
          <i  style="color: #f8f8f8; background-color:#586261;">0</i>
           <input type = "range" name = "range1" ng-model = "rangeModel.percDeals" min = "0" max = "100" on-release="rangeModelChange()"  style="background-color:#586261;">
          <i  style="color: #f8f8f8; background-color:#586261;">100</i>
        </div>
     </ion-item>

     <ion-item style="background-color:#586261; border-color: Transparent">
       <ion-label style="color: #f8f8f8;">Increase on Deals Size: {{rangeModel.percDealsSize}}%</ion-label>
       <div class = "item range" style="background-color:#586261;border-color: #f8f8f8">
         <i style="color: #f8f8f8;">0</i>
          <input type = "range" name = "range1" ng-model = "rangeModel.percDealsSize" min = "0" max = "100" on-release="rangeModelChange()" style="background-color:#586261;">
         <i style="color: #f8f8f8;">100</i>
       </div>
    </ion-item>

    <ion-item style="background-color:#586261; border-color: Transparent">
      <ion-label style="color: #f8f8f8;">Increase on Average Win Rate: {{rangeModel.percAverageWinRate}}%</ion-label>
      <div class = "item range" style="background-color:#586261;border-color: #f8f8f8">
        <i style="color: #f8f8f8;">0</i>
         <input type = "range" name = "range1" ng-model = "rangeModel.percAverageWinRate" min = "0" max = "100" on-release"rangeModelChange()" style="background-color:#586261;">
        <i style="color: #f8f8f8;">100</i>
      </div>
   </ion-item>

   <ion-item style="background-color:#586261; border-color: Transparent">
     <ion-label style="color: #f8f8f8;">Increase on Average Sales Cycle: {{rangeModel.percAverageSalesCycle}}%</ion-label>
     <div class = "item range" style="background-color:#586261;border-color: #f8f8f8">
       <i style="color: #f8f8f8;">0</i>
        <input type = "range" name = "range1" ng-model = "rangeModel.percAverageSalesCycle" min = "0" max = "100" on-release"rangeModelChange()"  style="background-color:#586261;">
       <i style="color: #f8f8f8;">100</i>
     </div>
  </ion-item>
     </div>

  </ion-content>
</ion-view>
